<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/kappa.css">

    <title>かっぱの誕生</title>
  </head>
  <body>
    <div class="container">
        <div class="text-center">
            ただいまのかっぱ：<span class="kappa_count">{{ .title }}</span>体
        </div>
        <div class="mt-2 d-flex justify-content-around">
            <div>
                <label for="add_kappa_count">かっぱを召喚する：</label><br />
                <select id="add_kappa_count">
                    <option value="1">1体</option>
                    <option value="2">2体</option>
                    <option value="3">3体</option>
                    <option value="4">4体</option>
                    <option value="5">5体</option>
                    <option value="6">6体</option>
                    <option value="7">7体</option>
                    <option value="8">8体</option>
                    <option value="9">9体</option>
                    <option value="10">10体</option>
                </select>
                <button id="add_kappa" type="button" class="btn btn-outline-info btn-sm">召喚</button>
            </div>
            <div>
                <label for="return_kappa_count">かっぱを帰還させる：</label><br />
                <select id="return_kappa_count">
                    <option value="1">1体</option>
                    <option value="2">2体</option>
                    <option value="3">3体</option>
                    <option value="4">4体</option>
                    <option value="5">5体</option>
                    <option value="6">6体</option>
                    <option value="7">7体</option>
                    <option value="8">8体</option>
                    <option value="9">9体</option>
                    <option value="10">10体</option>
                </select>
                <button id="return_kappa" type="button" class="btn btn-outline-info btn-sm" disabled>帰還</button>
            </div>
        </div>
        
        <hr />
        <div id="contents" class="row mt-2"></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/assets/js/kappa.js"></script>
  </body>
</html>